*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: black;
  background-image: url(https://media.tenor.com/9yzaT3kxskAAAAAM/space-stars.gif);
  background-size: 10%;
  background-repeat: repeat;

}
.img{
  background-image: url(https://www.pcspecialist.es/images/landing/pcs/games/lp/starfield-logo.png);
  background-repeat: no-repeat;
  background-size:20%;
  border-radius: 12px;
  background-position: top;
  position: absolute;
  overflow: hidden;
  filter:opacity(1px);
  filter: blur(1px);
  filter: drop-shadow(0 0 0.95rem rgb(255, 187, 0));
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  
  
}
/*inner*/
.valor{
  position: relative;
  border-radius: 32px;
  width: 400px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  margin: auto 0 0 auto;


}


h2{

  color: aliceblue;
  font-size: 2em;
  text-align: center;
  position: relative;
}
.inputBox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid white;
  color: aliceblue;
}
.inputBox label{
  position: absolute;
  top: 50%;
  left: 5px ;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  transition:  .5s;
  color: aliceblue;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;

color: rgb(252, 172, 0) ;

}
.inputBox input{
background: transparent;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: white;

}
.inputBox ion-icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  top:20px;
  color: white;
}
.Forget{
  display: flex;
  justify-content: center;
  margin:-10px 0 20px ;
  font-size: .9em;
  color: white;
  
}
.Forget label a{
  text-decoration: none;
 color: white;
}
.Forget label a:hover{
  text-decoration: underline;
  color: rgb(252, 172, 0);
}
button{
width: 100%;
height: 40px ;
border-radius: 40px;
background: transparent;
border: none;
transition: .5s  ;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
color: aliceblue;

box-shadow: 12;
}
button:hover{
  border: 2px solid rgba(255, 255, 255, 0.452);
  box-shadow: 0 0 20px rgb(252, 172, 0);
  color: rgb(252, 172, 0);
}
button::after {
  content: "";
  display: flex;
  height: 4px;
  width: 50%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;

  /*se pone: "para hacer que salga de la izquierda"
  transform-origin: left ;
  transform: scaleX(0);*/

  cursor: pointer;
  transform: scale(0);
  transition: transform 0.3s ease;
}
/*esto la muestra al pasar el raton*/
button:hover::after{
  /*se pone: "para hacer que salga de la izquierda"*/
  transform: scaleX(1);
}
.Register{
 color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  margin: 10px ;
  
}

.Register a{
  text-decoration: none;
  color: white;
  transition: .5s;
}
.Register a:hover{
  text-decoration: underline;
  color: rgb(252, 172, 0);
  font-weight: bold;
}


