/*
Esto se debe importar en el jsx de nuestro componente App.jsx
ESTE CSS AFECTA A NUESTRO COMPONNETE AL COMPLETO PADRE, NO SE RECOMIENDAN CAMBIOS BRUSCOS EN EL CSS POR SI DEBEMOS REUTILIZAR
ES MEJOR CREAR UN CSS APARTE QUE SEA GLOBAL Y AHI ESPECIFICAR CLASES PARA CADA SUBCOMPONENTE
*/

/*NOMBRE DE LAS className */
.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}
.tw-followCard-infoUserName{
    opacity: .6;
}

.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
.tw-followCard-button{
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid black;
    transition: .3s ease background-color;
}
/*lo siguiente cambia el estilo del boton al cambiar de estado*/
.tw-followCard-button.is-following{
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
}
.tw-followCard-button:hover{
    background-color: #09f;
}
/*esto hace el hover para que muestre el dejar de seguir*/
.tw-followCard-text{
    display: block;
}
.tw-followCard-button.is-following:hover{
    background-color: rgba(255, 103, 103, 0.205);
    color: red;
    border: 1px solid red;
}
.tw-followCard-button.is-following:hover .tw-followCard-text{
    display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow{
    display: block;
}
.tw-followCard-stopFollow{
    display: none;
}



