/*CSS GLOBAL EN EL QUE INDICAREMOS MEDIANTE CLASES LOS ESTILOS QUE LLEVARAN CADA SUBCOMPONENTE*/
body{
    margin: 0;
    background: #222;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height:100vh ;
}
/*cambio al nivel de contenedor y no de toda la app*/
.App{
    display: flex;
    flex-direction: column ;
    gap: 10px;
   
    
}

/*
flex-flow: column wrap;
flex-wrap: wrap-reverse;
align-content: space-between;
justify-content:center;
*/